:root {
  --primary-color: #353535;
  --secondary-color: #202124;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  height: 52px;
  background: var(--primary-color);
  padding: 0 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

